body, html {
    margin: 0;
  }

.container {
  background-image: url("https://img.freepik.com/free-photo/medicine-capsules-global-health-with-geometric-pattern-digital-remix_53876-126742.jpg?w=2000");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: -1;
}
header{
color:rgb(22, 21, 21);
background-color:rgb(146, 186, 199) ;
background-size: 10cm;
text-indent: 35%;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.bg-image {
    /* The image used */
    background-image: url("https://img.freepik.com/free-photo/medicine-capsules-global-health-with-geometric-pattern-digital-remix_53876-126742.jpg?w=2000");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: auto; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: scroll;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
   
    color: rgb(15, 14, 14);
    font-weight: bold;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
   
    text-align: center;
  }
 
  
  h1{
    font-weight: 1000;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    padding:1%; /* Black w/opacity/see-through */
  }

 .bg-column{
  color: rgb(15, 14, 14);
    font-weight: bold;
   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
   
    text-align: justify;
    background-color:black;
 }
 
 .bg-column h5 {
  font-size: 24px;
}

.bg-column p {
  font-size: 16px;
}

.bg-column h6 {
  font-size: 20px;
  margin-top: 20px;
}

.bg-column a {
  color: blueviolet;
}

  

